<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- Links here: -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <!-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    {% block navbar %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>